.item {
    grid-row: 1 ;
    grid-column: 1 / 13  ;
    margin-bottom: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Header{
    text-align: center;
    background-image: radial-gradient(ellipse farthest-corner at center, #808080 0%, #E0E0E0 100%);
    font-family: 'Cabin', sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.nav_container{
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.nav_container > li{
    transition: .4s ease;
    margin-right:15px;
}

.nav_container > li:hover{
    cursor: pointer; 
    color:white;

}


@media (max-width: 480px) {
    .nav_container{
        padding:0;
        flex-direction: column;
    }
    .nav_container > li{
        margin-bottom: 5%;
    }
}


  