.image {
    display: block;
    width: 100%;
    height: 260px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.6s;
}
.image:hover {
    filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
    transform: scale(1.1);
}

.gallery_item{
    width: 22%;
    box-sizing: border-box;
    margin: 10px auto;
}

/* @media (max-width: 980px) {
    .gallery_item {
        width: 33%;  
    }
} */

@media (max-width: 680px) { 
    .gallery_item {
        height: 280px;
        width: 40%;
    }
}

@media (max-width: 480px) { 
    .gallery_item {
        height: 280px;
        width: 55%
    }
}