.item {
    grid-row: 2 / 12 ;
    grid-column: 1 / 13  ;
    margin-bottom: 7px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);    
}

.gallery_container{
    background: linear-gradient(top, #2C1780 0%, #0E0647 50%, #0B1642 100%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
}

